@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  align-self: center;
  font-weight: normal;
}

a{
  text-decoration: none;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}
